{{extend 'layout.html'}}

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="{{=URL('static','js/gmaps.js')}}"></script>

<H4> Create Clue </H4><HR width="45%">

{{=clueCreate}} <HR width="45%">

<H4> Google Maps </H4> <BR>

<div>
	{{=form.custom.begin}}
	{{=form.custom.widget.search}}{{=form.custom.submit}}
	{{=form.custom.end}}
</div>

{{if longitude or latitude:}}
<H6> Latitude: {{=latitude}} </H6>
<H6> Longitude: {{=longitude}} </H6>

<div id="map" style="height:400px;width:800px"></div>

<script>
$(document).ready(function(){
	map = new GMaps({
	div: '#map',
	lat: {{=latitude}},
	lng: {{=longitude}}
	});
	
	map.addMarker({
	lat: {{=latitude}},
	lng: {{=longitude}},
	title: 'Here!',
	
	infoWindow: {
	content: '<p>{{=request.vars.search}}</p>'
	}
	});
});
</script>
{{pass}}

<H6> Note: </H6>
<p> Use this tool to get accurate latitude and longitude coordinates for a scavenger hunt.
	The coordinates do not update with on-clicks. <BR> 
	You must manually search the address to get accurate coordinates. <BR>
	You can use this to find the address.</p>

