{{extend 'layout.html'}}

<h4> {{=scavengerHunt.name}} </H4>
Start: {{=scavengerHunt.start_time}} <BR>  
End: {{=scavengerHunt.end_time}} <BR><BR>

<h4> Clues </h4>

<table class = "table">
{{for clueInfo in clueRows:}}
<tr><th> Clue #: {{=clueInfo.clue_number}} | Points: {{=clueInfo.points}} <BR> 
Question: {{=clueInfo.question}} <BR>
Answer: {{=clueInfo.answer}} <BR>
Latitude: {{=clueInfo.latitude}} <BR> 
Longitude: {{=clueInfo.longitude}}</th></tr>
{{pass}}
</table><BR>

<h4> Session Users </h4>
<table class = "table">
{{for user in sessionRows:}}
<tr><th> {{=user.user_id.first_name}} {{=user.user_id.last_name}} <BR>
Next Clue #: {{=user.next_clue_id}} |  Points: {{=user.points}} | In Progress: {{=user.is_in_progress}}</th></tr>
{{pass}}
</table>