{{extend 'layout.html'}}

<H4><a href="{{=URL('hunt_admin_EDIT', args=scavengerHunt.id)}}"> {{=scavengerHunt.name}} </a></H4>
Start: {{=scavengerHunt.start_time.strftime("%m/%d/%Y")}} <BR>  
End: {{=scavengerHunt.end_time.strftime("%m/%d/%Y")}} <BR><BR>

<H4> Clues &nbsp;&nbsp;&nbsp;
<a href="{{=URL('clue_CREATE')}}"><button> New Clue </button></a></H4> <HR width="40%">

<table class = "table">
{{for clueInfo in clueRows:}}
<tr><a href="{{=URL('clue_EDIT', args=clueInfo.id)}}"> Clue #: {{=clueInfo.clue_number}}</a> | Points: {{=clueInfo.points}} <BR>
Question: {{=clueInfo.question}} <BR>
Answer: {{=clueInfo.answer}} <BR>
Latitude: {{=clueInfo.latitude}} <BR> 
Longitude: {{=clueInfo.longitude}}</tr>
<HR width="40%">
{{pass}}
</table>

<H4> Session Users &nbsp;&nbsp;&nbsp;
<a href="{{=URL('session_CREATE')}}"><button> New Session </button></a></H4> <HR width="40%"> 

<table class = "table">
{{for user in sessionRows:}}
<tr><a href="{{=URL('user_CLICK', args=user.user_id)}}"> {{=user.user_id.first_name}} {{=user.user_id.last_name}} </a> | 
<a href="{{=URL('session_EDIT', args=user.id)}}"> Edit Session </a> <BR>
Current Clue: {{=user.current_clue_number}} |  Points: {{=user.points}} | In Progress: {{=user.is_in_progress}}</tr>
<HR width="40%">
{{pass}}
</table>